<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Manager</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}">
</head>
<body>

    {% include 'shared/header.html' %}
    {% include 'shared/sidebar.html' %}

   <div class="main-content center-page">

        <div class="content-header">
            <h1>Add New Manager</h1>
        </div>

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="flash-messages">
                    {% for category, message in messages %}
                        <div class="flash-message {{ category }}">{{ message }}</div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
        <div class="center-block">
        <div class="form-container">
            <form method="POST">
                <div class="form-group">
                    <label for="name">Full Name:</label>
                    <input type="text" id="name" name="name" required>
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" required>
                </div>
                <div class="form-group">
                    <label for="username">Username:</label>
                    <input type="text" id="username" name="username" required>
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" required>
                </div>
                <div class="form-group">
                    <label>Assign Hotel</label>
                    <select name="hotel_id" required>
                    {% for h in hotels %}
                    <option value="{{ h[0] }}">{{ h[1] }}</option>
                    {% endfor %}
                    </select>
                </div>

                <button type="submit" class="btn btn-primary">Add Manager</button>
            </form>
        </div>
    </div>
     </div>

    {% include 'shared/footer.html' %}

</body>
</html>




git config --global user.name "Swapnali1102"
git config --global user.email "swapnalichavan1102@gmail.com"

git branch -M main
git remote add origin https://github.com/Swapnali1102/HMS.git
