<div class="sidebar">
    
    <ul class="sidebar-menu">

        <li>
            <a href="{{ url_for('admin.dashboard') }}" class="sidebar-link">
                📊 <span>Dashboard</span>
            </a>
        </li>

        <li>
            <a href="{{ url_for('admin.create_hotel') }}" class="sidebar-link">
                🏨 <span>Create Hotel</span>
            </a>
        </li>

        <li>
            <a href="{{ url_for('admin.all_hotels') }}" class="sidebar-link">
                📋 <span>All Hotels</span>
            </a>
        </li>

        <li class="sidebar-divider"></li>

        <li>
            <a href="{{ url_for('admin.add_manager') }}" class="sidebar-link">
                ➕ <span>Add Manager</span>
            </a>
        </li>

        <li>
            <a href="{{ url_for('admin.all_managers') }}" class="sidebar-link">
                👥 <span>All Managers</span>
            </a>
        </li>
        <li><a href="#">Test 1</a></li>
       <li><a href="#">Test 2</a></li>
       <li><a href="#">Test 3</a></li>
       <li><a href="#">Test 1</a></li>
       <li><a href="#">Test 2</a></li>
        <li><a href="#">Test 3</a></li>
        <li><a href="#">Test 4</a></li>





    </ul>
</div>
